.section-header-main {
  height: 60px;
  margin-bottom: 10px;
  padding: 10px;
}

.section-header-fmc {
  background-color: #008c50;
  border-bottom: 5px solid #00633f;
}

.section-header-other {
  background-color: #fa9d28;
  border-bottom: 5px solid #f36633;
}

.section-header-text-small {
  font-size: 0.5em;
}

.section-header-text-main {
  color: #ffffff;
  font-size: 1.8em;
}

.section-header-text-sub {
  color: #ffffff;
  font-size: 1.2em;
  padding-left: 10px;
  padding-top: 5px;
}

/*---------------Header ------------------*/
