.pmr-tabbar__container {
  height: 50px;
}

.pmr-tabbar__container li {
  padding-right: 10px;
  padding-bottom: 3px;
}

.pmr-tabbar__container li:hover {
  padding-bottom: 0px;
}

.pmr-tabbar__container li:hover {
  background-color: transparent;
  border-bottom: #113889 solid 3px;
  color: #041a3d;
}

.pmr-tabbar__container li:active {
  padding-bottom: 0px;
}

.pmr-tabbar__container li:active {
  background-color: transparent;
  border-bottom: #113889 solid 3px;
  color: #041a3d;
}

/* .tab-bar--tabs .tab-bar--tab {
  border-bottom-style: none;
}

.tab-bar--tabs .tab-bar--tab a {
  padding-right: 5px;
  border-bottom-style: none;
  margin-bottom: 1px;
}

.tab-bar--tabs .tab-bar--tab a span {
  color: #db4949;
}

.tab-bar--tabs ul .tab-is-active a,
.tab-bar--tabs .tab-bar--tab a:hover {
  background-color: transparent;
  border-bottom-color: #113889;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  color: #041a3d;
}

.tab-bar--tabs ul .tab-is-active a {
  font-weight: bold;
} */
