/* 0. Bulma Overrides */
/* 1. Navigation Bar */
/* 2. Header */
/* 3. Table */
/* 4. Padding and margins */
/* 5. Pagination Styles  */
/* 6. Form Sizes  */

:root {
  --main-theme-color-4-1: #ffffff;
  --main-theme-color-4-2: #fc0505;
  --main-theme-color-4-3: #000c18;
  --main-theme-color-4-4: #3d5fbb;
  --main-theme-color-4-5: #3ad393;
}

body {
  font-size: 0.95rem;
}

/* ------------  Bootstrap Overrides ---------*/

.pagination {
  margin-top: 0;
}

.glyphicon {
  top: 0px;
}

.buttons .button {
  margin-bottom: 0.25rem;
}

/* ------------  START Bootstrap Overrides ---------*/

.label {
  color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}

.styled select {
  background: transparent;
  width: 220px;
  height: 34px;
  margin-left: -15px;
}
.styled {
  margin-left: 15px;
  padding-right: 10px;
  width: 220px;
  height: 34px;
  border-radius: 3px;
  overflow: hidden;
  background: url(../images/arrow-down.png) 95% / 8% no-repeat #eee;
}

.styled select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #6a6c70;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.has-date-error {
  color: red;
  background-color: red;
}

.panel-default > .panel-heading {
  color: white;
  font-weight: bold;
  font-size: 1.8em;
  background-color: #ed1b2c;
  border: 3px solid #ed1b2c;
  background-image: none;
}

.panel-default > .panel-body {
  background-color: #f7f7f7;
}

/* ------------  END Bootstrap Overrides ---------*/

/*---------------React Widgets Overide -----------*/
.rw-input {
  margin-bottom: 1px;
}
/*---------------React Widgets Overide -----------*/

/* ------------  File Icon Styles ---------*/
.fa-file-image-o {
  color: cadetblue;
}

.fa-file-word-o {
  color: blue;
}

.fa-file-pdf-o {
  color: red;
}

.fa-file-excel-o {
  color: forestgreen;
}

.fa-file-text-o {
  color: mediumpurple;
}
/* ------------  File Icon Styles ---------*/

/* ------------  Status Icon Styles ---------*/
.fa-star {
  color: dodgerblue;
}

.fa-check-square {
  color: green;
}

.fa-check-square-o {
  color: green;
}

.fa-warning {
  color: orange;
}

.fa-exclamation-triangle {
  color: red;
}

.fa-ban {
  color: red;
}

.fa-archive {
  color: mediumpurple;
}

.fa-coffee {
  color: olive;
}

.dpRed {
  color: red;
}
.dpOrange {
  color: orange;
}
.dpGreen {
  color: green;
}

.dp-table-font {
  font-weight: bold;
}

/* ------------  Status Icon Styles ---------*/

.timestamp {
  color: #d1d1d1;
}

/*________ 4. Padding and margins ______________________*/

.dp-small {
  width: 150px;
}

.dp-select {
  margin-bottom: 15px;
}

.dp-margin-5-LR {
  margin-left: 5px;
  margin-right: 5px;
}

.dp-margin-10-LR {
  margin-left: 10px;
  margin-right: 10px;
}

.dp-margin-10-B {
  margin-bottom: 10px;
}

.margin-20 {
  margin-left: 20px;
}

.margin-10-top {
  margin-top: 10px;
}

.margin-20-top {
  margin-top: 20px;
}

/* 4. Padding and margins */

.dpHand {
  cursor: pointer;
  cursor: hand;
}

/* 6. Form Sizes  */

.dp-size-100 {
  width: 100px;
}

.dp-size-200 {
  width: 200px;
}

.dp-size-300 {
  width: 300px;
}

.dp-size-400 {
  width: 400px;
}

.dp-size-500 {
  width: 500px;
}

.dp-size-600 {
  width: 600px;
}

.dp-size-700 {
  width: 700px;
}

.dp-size-800 {
  width: 800px;
}

.dp-size-900 {
  width: 900px;
}

/*---------------Heading ------------------*/

.dp-H3 {
  border-bottom: solid 1px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 0 20px 10px 20px;
}

/*---------------Header ------------------*/

.dp-underlined {
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: -1rem;
}

/*---------------Footer ------------------*/

.dpFooter {
  margin-top: 15px;
  height: 50px;
  background: #f8f8f8;
  text-align: center;
  padding-top: 15px;
}

/*---------------Footer ------------------*/

/*---------------Navigation Bar ------------------*/

.dp-side-nav {
  padding-left: 0px;
}

.dp-nav-section {
  margin: 0 auto;
}

/*---------------Navigation Bar ------------------*/

/*---------------Tab Bar ------------------*/

.tab-bar {
  height: 10px;
  background-color: #0e718f;
}

/*---------------Tab Bar ------------------*/

/*
@media (min-width: 550px) {
    .chirp img {
        display: block;
        border-radius: 4px;
        width: 100%;
    }
}
*/

/*---------------Table ------------------*/

.colaligncenter {
  text-align: center;
}

/*---------------Table ------------------*/

/*---------------Pagination Styles ------------------*/

.dpPag {
  border-radius: 10px;
  border: 2px solid #71abff;
  padding: 1px 1px;
}

ul.nav {
  text-align: center;
}
ul.nav li {
  display: inline-block;
}

/*---------------Pagination Styles ------------------*/
