.search-box-main {
  padding-right: 15;
}

.search-icon {
  color: #ffffff;
}

.search-icon-fmc {
  background: #00633f;
  border: 1px solid #00633f;
}

.search-icon-other {
  background: #f36633;
  border: 1px solid #f36633;
}
