/*// colors from http://www.creepyed.com/2012/09/windows-8-colors-hex-code/*/
.dashboard {
  border-bottom: solid 4px #555555;
}

.dashboard h1 {
  margin-bottom: 0px;
  color: #555555;
}

.router-link {
  text-decoration: none;
}

.mybox {
  font-weight: 300;
  font-size: 2.5rem;
  padding: 0.1em 0.5em;
  margin: 20px 0px;
}

.mybox:hover {
  cursor: pointer;
  cursor: hand;
}

.mybox.grow {
  transition: all 0.1s ease-in-out;
}

.mybox.grow:hover {
  transform: scale(1.05);
}

.mybox.purple,
.mybox.blue,
.mybox.red,
.mybox.orange,
.mybox.green {
  color: #fff;
}

.mybox.green {
  background: #00bfa5;
}

.mybox.green:hover {
  background: #008c79;
}

.mybox.blue {
  background: #1e9faf;
}

.mybox.blue:hover {
  background: #1e9faf;
}

.mybox.purple {
  background: #5c6bc0;
}

.mybox.purple:hover {
  background: #4150a8;
}

.mybox.red {
  background: #f44336;
}

.mybox.red:hover {
  background: #ea1c0d;
}

.mybox.orange {
  background: #ff5722;
}

.mybox.orange:hover {
  background: #ee3900;
}
