.top-band {
  height: 100px;
  background-color: #114094;
}

.top-band-h3 {
  padding-top: 0.8rem;
  color: white;
  font-size: 2.5em;
}

.pmr-header__container {
  display: grid;
  grid-template-columns: auto 30%;
}

.pmr-navbar__navbar,
.pmr-header__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0.75rem;
}

.pmr-navbar__container {
  margin-top: -5px;
  height: 65px;
  background: #f2efef;
}

.pmr-navbar__navbar {
  padding-top: 0px;
}

.login-div {
  color: white;
  margin-top: 0.7rem;
  margin-right: 0.5rem;
}

.change-link {
  color: #ffffff;
  padding-right: 18;
}
